@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
}

@theme inline {
  --color-primary: #15255a;
  --color-secondary: #1e40af;
  --color-accent: #2563eb;
  --color-muted: #d20061;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
